{% load static %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Saijal Shakya
    </div>
    <strong>Copyright &copy; 2016 <a href="http://localhost:3000" target="_blank">Saijal Hospital Pvt. Ltd</a>.</strong> All rights reserved.
  </footer>
  <div class="control-sidebar-bg"></div>
</div>
<script src="{% static 'dashboard/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/dist/js/adminlte.min.js' %}"></script>

</body>
</html>