{% extends "front/master.html" %}
{% block content %}
<main class="theia-exception">
		<div id="results">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h4><strong>Showing 10</strong> of 140 results</h4>
					</div>
					<div class="col-md-6">
						<div class="search_bar_list">
                            {% include 'front/forms/doctorSearch.html' %}
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /results -->
		<!-- /filters -->
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-12">
					{% for doctor in doctor %}
                        <div class="strip_list wow fadeInLeft">
						<a href="#0" class="wish_bt"></a>
						<figure>
							<a href="{% url 'front:doctor' doctor.pk %}"><img src="{{ doctor.image.url }}" alt=""></a>
						</figure>
						<small>
                            {% for type in doctor.type.all %}
                                {{type}}
                            {% endfor %}
                        </small>
						<h3>Dr. {{ doctor.name }}</h3>
                        <p> {{doctor.statement}} </p>
						<span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></span>
						<a href="../findoctor/badges.html" data-toggle="tooltip" data-placement="top" data-original-title="Badge Level" class="badge_list_1"><img src="../findoctor/img/badges/badge_1.svg" width="15" height="15" alt=""></a>
						<ul>
							<li><a href="#0" onclick="onHtmlClick('Doctors', 0)" class="btn_listing">View on Map</a></li>
							<li><a href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x0:0xa6a9af76b1e2d899!2sAssistance+%E2%80%93+H%C3%B4pitaux+De+Paris!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361" target="_blank">Directions</a></li>
							<li><a href="../findoctor/detail-page.html">Book now</a></li>
						</ul>
					</div>
                    {% endfor %}
					<!-- /strip_list -->
					<nav aria-label="" class="add_top_20">
						<ul class="pagination pagination-sm">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
					<!-- /pagination -->
				</div>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
{% endblock %}