{% extends "front/master.html" %}
{% block content %}
<main>
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- /breadcrumb -->
		<div class="container margin_60_35">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="box_general_3 write_review">
						<form  enctype="multipart/form-data" action="{% url 'front:review' doctor.id %}" method="POST">
							{% csrf_token %}
							<h1>Write a review for Dr. {{doctor.name}}</h1>
							<div class="rating_submit">
								<div class="form-group">
								<label class="d-block">Overall rating</label>
								<span class="rating">
									<input type="radio" class="rating-input" id="5_star" name="rate" value="5"><label for="5_star" class="rating-star"></label>
									<input type="radio" class="rating-input" id="4_star" name="rate" value="4"><label for="4_star" class="rating-star"></label>
									<input type="radio" class="rating-input" id="3_star" name="rate" value="3"><label for="3_star" class="rating-star"></label>
									<input type="radio" class="rating-input" id="2_star" name="rate" value="2"><label for="2_star" class="rating-star"></label>
									<input type="radio" class="rating-input" id="1_star" name="rate" value="1"><label for="1_star" class="rating-star"></label>
								</span>
								</div>
							</div>
							<!-- /rating_submit -->
							<div class="form-group">
								<label>Title of your review</label>
								<input class="form-control" type="text" name="title" placeholder="If you could say it in one sentence, what would you say?">
							</div>
							<div class="form-group">
								<label>Your review</label>
								<small>[Only visible to the doctor]</small>
								<textarea class="form-control" name="re" style="height: 180px;" placeholder="Write your review here ..."></textarea>
							</div>
							<hr>
							<div class="form-group">
								<div class="checkboxes add_bottom_30 add_top_15">
									<label class="container_check">I accept <a href="#0">terms and conditions and general policy</a>
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</div>
							</div>
							<button type="submit" class="btn_1">Submit review</button>
						</form>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
{% endblock  %}