{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Diseases
            <small>[All diseases]</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Diseases</li>
          </ol>
        </section>
        <section class="content container-fluid">
            <div class="box">
                <div class="box-header" style="display:flex; flex-flow: row wrap;">
                  <h3 class="box-title">Data Table With Basic Info</h3>
                  <div class="as"> <a href="{% url 'dashboard:disease-create' %}"> <button class="btn btn-success btn-sm" style="right:0%">+Add</button></a></div>
                </div>
                <!-- /.box-header -->
                {% include 'dashboard/pages/notification.html' %}
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Found</th>
                      <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for disease in diseases %}
                      <tr>
                          <td>{{forloop.counter}}</td>
                          <td>
                            {% if disease.level == "1" %}
                              <span style="color:red">{{disease.name}}</span>
                            {% elif disease.level == "2" %}
                              <span style="color:yellow">{{disease.name}}</span>
                            {% else %}
                              <span style="color:green">Normal{{disease.name}}</span>
                            {% endif %}
                          </td>
                          <td>
                            {% if disease.status == "1" %}
                              <form action="{% url 'dashboard:disease-status' disease.id %}">
                                {%csrf_token%}
                                <button class="btn btn-success btn-sm"> Published </button>
                              </form>
                            {%else%}
                            <form action="{% url 'dashboard:disease-status' disease.id %}">
                                {%csrf_token%}
                              <button class="btn btn-danger btn-sm"> Unpublished </button>
                              </form>
                            {%endif%}
                          </td>
                          <td>
                            {% if disease.found == "o" %}
                                  Outsite KTM
                            {% elif disease.found == "i"%}
                                  Inside KTM
                            {%else%}
                                Whole Nepal
                            {%endif%}
                          </td>
                          <td style="display: flex;flex-wrap: wrap;"><a href="{% url 'dashboard:disease-update' disease.pk %}" class="btn bg-purple btn-flat margin"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                          <form action="{% url 'dashboard:disease-delete' disease.pk %}" method="post">
                          {% csrf_token %}
                            <button class="btn bg-maroon btn-flat margin" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                          </form>
                      </tr>
                    {%endfor%}
                    
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
            <ul>
                
            </ul>
        </section>
</div>
{% endblock %}