{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Add Users
            <small>[All Users]</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="{% url 'dashboard:users'%}">Users</a></li>
            <li class="active">Add</li>
          </ol>
        </section>
        <section class="content container-fluid">
        <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Basic Information</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="{% url 'dashboard:user-add' %}" enctype="multipart/form-data"s>
            {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" id="fn" name="fn" placeholder="Enter first name">
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" id="ln" name="ln" placeholder="Enter last name">
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                </div>
                <div class="form-group">
                  <label>Phone number</label>
                  <input type="text" class="form-control" id="phone" name="v" placeholder="Enter phone number">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">Image</label>
                  <input type="file" name="image" id="exampleInputFile">

                  <p class="help-block">[Maximum 200MB]</p>
                </div>
                <div class="form-group">
                  <label>Role</label>
                  <select class="form-control" name="roles">
                    <option disabled selected>Select Role</option>
                  {% for i in roles %}
                    <option id="{{i.id}}">{{i.title}}</option>
                  {%endfor%}
                  </select>
                </div>
              </div>
          </div>
          <!-- /.box -->

        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Login Information</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                     <div class="form-group">
                  <label class="col-sm-2 control-label">Email </label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email address">
                  </div>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Password </label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="email" name="email" placeholder="Email address">
                  </div>
                </div>
                <br/>
                <br/>

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"></label>
                
                  <div class="col-sm-10">

                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
        </section>
</div>
{% endblock %}
