{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Add Users
            <small>[All Users]</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="{% url 'dashboard:users'%}">Users</a></li>
            <li class="active">Add</li>
          </ol>
        </section>
        <section class="content container-fluid">
        
        </section>
</div>
{% endblock %}
