{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Users
            <small>[All Users]</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Users</li>
          </ol>
        </section>
        <section class="content container-fluid">
            <ul>
                {% for user in users %}
                    <li>{{user.username}}</li>
                {%endfor%}
            </ul>
        </section>
</div>
{% endblock %}