{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
{% if profile %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">User profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{profile.image.url}}" alt="User profile picture">

              <h3 class="profile-username text-center">{{profile.name}}</h3>

              <p class="text-muted text-center">
              {% for t in profile.type.all %}
                    {{t}}
              {% endfor %}
              </p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

              <p class="text-muted">
                
                {{profile.educationStatement}}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">{{ profile.address }}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Statement</strong>

              <p>
                {{profile.statement}}
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Age</strong>

              <p>{{profile.age}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
            </ul>
            <div class="tab-content">

              <div class="active tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" value="{{profile.name}}" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" value = "{{user.email}}"placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" value = "{{user.username}}"placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputSkills" value="{{user.password}}" placeholder="Skills">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
{% else %}
    <section class="content container-fluid">
        <div class="box">
                <div class="box-header" style="display:flex; flex-flow: row wrap;">
                  <h3 class="box-title">Your basic information</h3>
                </div>
                <div class="box-body">
                
                <form method="POST" class="post-form form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% load addcss %}
                    {% for field in form %}
                            {{field.errors}}
                            <div class="form-group">
                                <label>{{field.label_tag}}</label>
                                {{field|addcss:"form-control"}}
                            </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                </div>
                
        </div>
    </section>
{% endif %}

</div>
{% endblock %}