{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Doctors
            <small>[All Doctors Info]</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Doctors</li>
          </ol>
        </section>
        {% if messages %}
            {% include 'dashboard/pages/notification.html' %}
        {% endif %}
        <section class="content container-fluid">
            <div class="box">
                <div class="box-header" style="display:flex; flex-flow: row wrap;">
                  <h3 class="box-title">Data Table With Basic Info</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Title</th>
                      <th>Status</th>
                      <th>Stars</th>
                      <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if not reviews %}
                        <tr>
                            <td colspan=5><h4>No reviews yet.</h4></td>
                        </tr>
                    {% else %}
                        {% for review in reviews %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{review.title}} </td>
                                <td>
                                {% if review.status == "0" %}
                                        <a href="{% url 'dashboard:review-status' review.id %}"><button class="btn btn-danger btn-sm">Unpublished</button></a>
                                {% else %}
                                        <a href="{% url 'dashboard:review-status' review.id %}"><button class="btn btn-success btn-sm">Published</button></a>
                                {% endif %}
                                </td>
                                <td>
                                    {{review.rate}}/5
                                </td> 
                                <td style="display: flex;flex-wrap: wrap;"><a href="{% url 'dashboard:review-details' review.id%}" class="btn bg-purple btn-flat margin"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                
                            </tr>
                        {%endfor%}
                    {% endif %}                    
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
            <ul>
                
            </ul>
        </section>
</div>
{% endblock %}