{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Diseases
            <small>[All diseases]</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Diseases</li>
          </ol>
        </section>
        <section class="content container-fluid">
            <div class="box">
                <div class="box-header" style="display:flex; flex-flow: row wrap;">
                  <h3 class="box-title">Data Table With Basic Info</h3>
                </div>
                <!-- /.box-header -->
                {% include 'dashboard/pages/notification.html' %}
                <div class="box-body">
              <a href="{% url 'dashboard:cancer' %}">ads</a>
                {% for user in users %}
                    {{user}}
                {%endfor%}
                </div>
                <!-- /.box-body -->
              </div>
            <ul>
                
            </ul>
        </section>
</div>
{% endblock %}