{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Appointments
            <small>[All Appointments]</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Doctors</li>
          </ol>
        </section>
        {% if messages %}
            {% include 'dashboard/pages/notification.html' %}
        {% endif %}
        <section class="content container-fluid">
            <div class="box">
                <div class="box-header" style="display:flex; flex-flow: row wrap;">
                  <h3 class="box-title">Data Table With Basic Info</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Name</th>
                      <th>Confirm</th>
                      <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for booking in appointment %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{booking.fn}} {{ booking.ln }}</td>
                                <td>
                                    {% if booking.checked == "0" %}
                                        <a href="{% url 'dashboard:checked' booking.id%}"><button class="btn btn-sm btn-danger">Not checked</button></a>
                                    {% else %}
                                        <a href="{% url 'dashboard:checked' booking.id %}"><button class="btn btn-sm btn-success">Checked</button></a>        
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'dashboard:patient-details' booking.pk %}"><button class="btn btn-warning btn-sm">Details</button></a>
                                </td>
                            </tr>
                        {% endfor %}                    
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
            <ul>
                
            </ul>
        </section>
</div>
{% endblock %}