{% extends 'dashboard/main.html' %}
{%block content%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Company
            <small>[Information]</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Company Details</li>
          </ol>
        </section>
        <section class="content container-fluid">
            <div class="box">
                <!-- /.box-header -->
                {% include 'dashboard/pages/notification.html' %}
                <div class="box-body">
            <form role="form" action="{% url 'dashboard:company-update' company.id %}" method="POST">
            {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <label>Company Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter company name" value="{{ company.name }}">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone One</label>
                            <input type="text" class="form-control" id="phone1" name="phone1" placeholder="Enter company phone1" value="{{ company.phone1 }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Two</label>
                            <input type="text" class="form-control" id="phone2" name="phone2" placeholder="Enter company phone2" value="{{ company.phone2 }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                  <label>Company address</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Enter company address" value="{{ company.address }}">
                </div>
                <div class="form-group">
                  <label>Company email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Enter company email" value="{{ company.email }}">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fax</label>
                            <input type="text" class="form-control" id="fax" name="fax" placeholder="Enter company fax" value="{{ company.fax }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>P.O Box Number</label>
                            <input type="text" class="form-control" id="pobox" name="pobox" placeholder="Enter company P.O Box Number" value="{{ company.pobox }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Facebook Link</label>
                            <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Enter company facebook url" value="{{ company.facebook }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Instagram Link</label>
                            <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Enter company instagram url" value="{{ company.instagram }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Youtube Link</label>
                            <input type="text" class="form-control" id="youtube" name="youtube" placeholder="Enter company youtube url" value="{{ company.youtube }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Twitter Link</label>
                            <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Enter company twitter url" value="{{ company.twitter }}">
                        </div>
                    </div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
                </div>
                <!-- /.box-body -->
              </div>
            <ul>
                
            </ul>
        </section>
</div>
{% endblock %}